@import "map"; 

@import "fuentes";

*{                                                        
	margin:0px;
	padding: 0px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
}
body{
	font-family: 'Montserrat' , sans-serif;
	color: map-get($map: $palette, $key: 'segundo');
	}
#header{
	font-size: 18px;
	color: map-get($map: $palette, $key: 'segundo');
	.navbar-toggler{
		color: map-get($map: $palette, $key:'segundo');
		.navbar-toggler-icon{
		color: map-get($map: $palette , $key: 'segundo');
		}
	}
	.nav-link{
		color: map-get($map: $palette, $key:'quinto');
		font-weight: bold; 
		display: flex;
		justify-content: center;
	&:hover{
		color: map-get($map: $palette, $key:'tercero');
	}
	}
}
.btn1{
	display: flex;
	text-align: center;
	background-color: map-get($map: $palette, $key:'tercero');
	color: map-get($map: $palette, $key:'quinto');
	font-weight: bold;
	border-radius: 5px;
	padding: 0.8rem 2.2rem;
	border: 1px solid map-get($map: $palette, $key:'tercero');
	margin: auto;
	margin-top: 3.5rem;
}
#imagenes{
	.col-lg-4{
		margin: 0px;
		padding: 30px;
		img{
			width:100%;
			height: 300px;
			padding: auto;
			padding-bottom: 20px;
			&:hover{
				border: 5px solid map-get($map: $palette, $key:'primero');
			}
			.contain{
				object-fit: contain;
			}
		}
		h3{
			margin:auto;
			margin-bottom: 20px;
		}
	}
}	
.redes{
	font-size: 60px;
	padding-bottom: 5px;
}
#footer{
	padding:auto;
	padding-bottom: 5px;
}
.img_bio{
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: larger;
}
.bio p{
	padding-left: 120px;
	padding-right: 120px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	text-align: justify;
	font-size: 18px;
	color: map-get($map: $palette, $key: 'segundo');
	@media all and (max-width:720px){
		padding-left: 36px;
		padding-right: 36px;
		font-weight: bold;
		display: flex;
		flex-direction: column;
		font-size: 18px;
		color: map-get($map: $palette, $key: 'segundo');
	}
}
.cd{
	padding-bottom: 20px;
	font-style: italic;
	display: flex;
	flex-direction: row;
	}
.cd1{
	@extend .cd;
	padding-bottom: 20px;
	justify-content: center;
}
.cd2{
	@extend .cd;
	padding-bottom: 20px;
	justify-content: center;
}
.cd3{
	@extend .cd;
	padding-bottom: 20px;
	justify-content: center;
}
.playlist{
	padding-top: 60px;
}
#galeria img{
	margin:0px;
	padding: 20px;
	width: 100%;
	height: 300px;
	&:hover{
		transform: scale(1.1);
	}
}
@mixin textos1 {
	font-size: 20px;
}
.text-op{
	@include textos1;
} 
.texto{
	@include textos1;
	padding-bottom: 40px;	
}
.form{
	background-color: map-get($map: $palette, $key:'cuarto');
	font-style: unset;
	color: map-get($map: $palette, $key: 'primero');
	font-size: 16px;
}
.btn{
	display: inline-block;
	background-color: map-get($map: $palette, $key:'primero');
	color: map-get($map: $palette, $key: 'quinto');
	padding: 2px 6px;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
}


