@import url("https://fonts.googleapis.com/css2? family= Architects+Hija & family= Cookie & family= Dancing+Script:wght@700 & family= League+Spartan & family= Montserrat: wght@600 & family= Nunito:ital@1 & family= Playfair+Display:ital,wght@1,400;1,500 & family= Roboto:ital,wght@0,400;1,300 & family= Rokkitt:wght@700 & family= Square+ Clavija y pantalla = intercambio");
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: antiquewhite;
}

#header {
  font-size: 18px;
  color: antiquewhite;
}
#header .navbar-toggler {
  color: antiquewhite;
}
#header .navbar-toggler .navbar-toggler-icon {
  color: antiquewhite;
}
#header .nav-link {
  color: aliceblue;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
#header .nav-link:hover {
  color: darkred;
}

.btn1 {
  display: flex;
  text-align: center;
  background-color: darkred;
  color: aliceblue;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.8rem 2.2rem;
  border: 1px solid darkred;
  margin: auto;
  margin-top: 3.5rem;
}

#imagenes .container .row .col-lg-4 {
  margin: 0px;
  padding: 30px;
}
#imagenes .container .row .col-lg-4 h3 {
  margin: auto;
  margin-bottom: 20px;
}
#imagenes .container .row .col-lg-4 img {
  width: 100%;
  height: auto;
  padding: auto;
  padding-bottom: 20px;
}
#imagenes .container .row .col-lg-4 img:hover {
  border: 5px solid black;
}
@media all and (max-width: 768px) {
  #imagenes .container .row .col-lg-4 img:hover {
    margin: 0px;
    padding: 30px;
    width: 100%;
    height: auto;
    padding: auto;
    padding-bottom: 20px;
  }
}

.redes {
  font-size: 60px;
  padding-bottom: 5px;
}

#footer {
  padding: auto;
  padding-bottom: 5px;
}

.img_bio {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: larger;
}

.bio p {
  padding-left: 120px;
  padding-right: 120px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: 18px;
  color: antiquewhite;
}
@media all and (max-width: 720px) {
  .bio p {
    padding-left: 36px;
    padding-right: 36px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: antiquewhite;
  }
}

.cd, .cd3, .cd2, .cd1 {
  padding-bottom: 20px;
  font-style: italic;
  display: flex;
  flex-direction: row;
}
@media all and (max-width: 768px) {
  .cd, .cd3, .cd2, .cd1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.cd1 {
  padding-bottom: 20px;
  justify-content: center;
}

.cd2 {
  padding-bottom: 20px;
  justify-content: center;
}

.cd3 {
  padding-bottom: 20px;
  justify-content: center;
}

.playlist {
  padding-top: 60px;
}

#galeria img {
  margin: 0px;
  padding: 20px;
  width: 100%;
  height: 100%;
}
#galeria img:hover {
  transform: scale(1.1);
}

.text-op {
  font-size: 20px;
}

.texto {
  font-size: 20px;
  padding-bottom: 40px;
}

.form {
  background-color: #fdf7e4;
  font-style: unset;
  color: black;
  font-size: 16px;
}

.btn {
  display: inline-block;
  background-color: black;
  color: aliceblue;
  padding: 2px 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}/*# sourceMappingURL=estilos.css.map */